{
  "env": {
    "browser": true
  },
  "rules": {
    "no-alert": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "jsx-a11y/label-has-for": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"]
  }
}
